@model IEnumerable<CRUDDemo.Student>

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { Studentid=item.StudentNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentNo }) |
            @Html.ActionLink("Delete", "Delete", new { Studentid=item.StudentNo })
        </td>
    </tr>
}

</table>
